// Define variables for your color scheme

// customer experience
$cfirst: #064635;
$csecond: #519259;
$cthird: #F0BB62;
$cfourth: #faf9f9;
$cbackground: #faf9f9;
$cwhite-cards: white;
$cblack: black;
$cwhite: white;


// BS
$cbold: #074652; //
$cpurple: #555b6e; //
$light-gray: white;
$cdark: #272635;
$cred: #95190C;
$cblue: #077187;
$corange: #DE6449;
$cbold: #074652;
$cgreen:  #89b0ae;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
