// Specific CSS for your home-page

.start-form {
  padding-top: 32px;
}

.home-booker {
  padding-top : 32px;
  display: flex;
  justify-content: center;
}

.booker {
  font-size: 42px;
}

.margin-top-negative {
  margin-top: -75px;
}

h1 h2 h3 p {
  margin: 0;
}

.home-work-near-me {
  padding-top: 32px;
}

.home-workers{
  padding-top: 36px;
}
