.show-worker-description {
  text-align: center;
  background-color: $cwhite;

   h2 {
    text-align: center;
  }

  p  {
    color: $cblack;
    text-align: center;

  }

}

.show-profile-reviews{
  h2 {
    color: $cfirst;
  }

}
