<div class="container">
  <h2 class='text-center my-3' >Nueva Profesión</h2>

  <div class="card-post-new-tell-us">
    <img src="https://res.cloudinary.com/wectcorp/image/upload/v1661920987/icon_campanazzo_qhypix.png"  class="avatar-medium" alt="avatar image campanazzo">
    <div class="card-post-new-tell-us-info">
      <p> En Campanazzo tienes la posibilidad de fijar el precio de tu trabajo. <strong>Consejo:</strong> en el campo BIO, podrás escribir un pequeño mensaje invitando a los clientes a seleccionarte </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 ">
    <%= render "shared/form-my-professions", my_profession: @my_profession %>
    </div>
  </div>
</div>
