<hr class="mt-1">

<div class="container mt-3 text-center">
  <%= link_to "Atras", :back , class: 'btn-flat'%>
</div>
<br>
<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <i class="fas fa-heart"></i> By CAMPANAZZO.com
    </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7546562/pexels-photo-7546562.jpeg?cs=srgb&dl=pexels-max-vakhtbovych-7546562.jpg&fm=jpg);">

</div>



  <br>
  <br>
  <br>
  <br>
  <br>
