<div data-controller="autocomplete" data-autocomplete-url-value="/professions/autocomplete"  role="combobox">
  <input type="text" class="w-100" data-autocomplete-target="input" placeholder="Type to search..."/>
  <input type="hidden" name="profession_id" data-autocomplete-target="hidden"/>
  <ul class="list-group" data-autocomplete-target="results"></ul>
</div>
