
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7546562/pexels-photo-7546562.jpeg?cs=srgb&dl=pexels-max-vakhtbovych-7546562.jpg&fm=jpg);">
  <div class="container">
    <h1>¿Por que Campanazzo?</h1>
    <p> la Red de Trabajadores, diseñada para los trabajadores.</p>
    <div class="write mt-3">
      <div class="start-form">
      </div>
    </div>
  </div>
</div>

<div class="porque">
  <div class="container">
    <h2>¿Por Que Existe Campanazzo?</h2>
    <p>En este video de un minuto te explicamos la razón por la que creamos <strong>Campanazzo</strong> </p>
    <div class="video d-flex justify-content-center">
      <div id="player"></div>
    </div>
</div>

<div class="porque2 mt-5 mb-5">
  <div class="container ">
    <h2>¿Por Que trabajar En Campanazzo?</h2>
    <p>Queremos construir la primera Red de trabajadores a domilio en Latinoamerica.<strong>Campanazzo</strong> </p>
    <div class=" d-flex justify-content-center">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/g18cTAr8kaY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
