
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7546562/pexels-photo-7546562.jpeg?cs=srgb&dl=pexels-max-vakhtbovych-7546562.jpg&fm=jpg);">
  <div class="container">
    <h1>Encuentra Trabajador En 3 Pasos!</h1>
    <p>  <span data-controller="typed-js"></span></p>
    <div class="write mt-3">
      <div class="start-form">
        <%= render '/shared/form-start2-auto' %>
      </div>
    </div>
  </div>
</div>

<div class="professiones mt-3">
  <div class="container">
    <h2>Profesionales Utilies Para Nuestra Vida Cotidiana</h2>
    <p>Haz CLIC en el icono para contratar rapidamente Un Professional</p>

    <div class="row my-3">
      <%@profession_top.each do |profession, num_workers|  %>
        <div class="col-3 text-center  d-flex flex-column" >
          <% if !profession.photo.key.nil? %>
          <%= link_to cl_image_tag(profession.photo.key, class: "avatar-home"), new_post_path(params.merge(profession_id: profession.id.to_s)) %>
          <% else %>
          <%= image_tag("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", class: "avatar-home") %>
          <% end %>
          <%= link_to profession.name, new_post_path(params.merge(profession_id: profession.id.to_s)) , class: "text-decoration-none"%>
    </div>

      <% end %>
  </div>

</div>

<div class="porque">
  <div class="container">


  </div>

</div>
