<h1>New Profession</h1>
<p> RESTRICTED ACCESS</p>

<%= render "shared/form-profession", profession: @profession %>
<ul class="nav">
  <li><%= link_to "Back", root_path, :class => "nav-item px-1"%></li>
</ul>
