<div class="container">
  <div class="title_page">
    <h1>My Activities</h1>
  </div>
  <div class="index-tabs" data-controller="tabs">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">Current</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Past</a>
      </li>

    </ul>
  </div>
</div>

        <%# <% @my_posts.each do |my_post| %>
        <%# byebug %>
           <%# <h2>= my_post.address </h2> %>
          <%# <p>= my_post.name</p> %>
        <%# end %>
