<div class="container">
  <div class="title_page">
    <h1>My Activities</h1>
  </div>
  <div class="index-tabs">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="#" class="tab-underlined active">Currenty</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Past</a>
      </li>
    </ul>
  </div>
</div>
