

<div class="container">
  <% if params[:search] %>
    <h1>You are looking for: <%= params[:search][:query] %></h1>
  <% else %>
    <h1>New Post</h1>
  <% end %>

  <%= render "shared/form-post", post: @post %>
  <ul class="nav">
    <li><%= link_to "Back", root_path, :class => "nav-item px-1"%></li>
  </ul>
</div>
