//btn-ghost are intended for features that are not ready for prod (either: limited/wrong functioning or just to enrich the mockup)
.btn-ghost {
  color: $cwhite;
  border: 1px solid $cfirst;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background: $csecond;
  transition: opacity 0.3s ease;
  text-decoration: none;

}

.btn-ghost:hover {
  opacity: 1;
  color: $cfirst;
}

.btn-flat {
  color: $cwhite;
  padding: 8px 24px;
  border-radius: 16px;
  background: $cfirst;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: $csecond;
  color: $cwhite;
}

.btn-gradient {
  color: $cwhite;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($cfirst, $csecond);
  transition: background 0.3s ease;
  border: 1px solid $csecond;
}

.btn-gradient:hover {
  background: linear-gradient($csecond, $cfirst);
  color: $cwhite;
}

.btn-campanazzo {
  color: $cwhite;
  padding: 8px 24px;
  border-radius: 16px;
  background: $cfirst;
  transition: background 0.3s ease;
  text-decoration: none;
  font-size: 36px;
}

.btn-campanazzo:hover {
  background: $csecond;
  color: $cwhite;
}

.btn-booker {
  color: $cwhite;
  padding: 24px 48px;
  border-radius: 16px;
  background: $cfirst;
  transition: background 0.3s ease;
  text-decoration: none;
  font-size: 32px;
}

.btn-booker:hover {
  background: $csecond;
  color: $cwhite;
}


// Button action - in cards

.btn-post-action {
  color: $csecond;
  padding: 0.1rem;
  transition: background 0.3s ease;
  text-decoration: none;
  font-size: 24px;
  border: 1px solid $csecond;
  width: 100%;
  text-align: center;
  margin: 0 0.5rem;
  border-radius: 16px;

}
