.navbar-campanazzo {
  justify-content: space-between;
  background: $cfirst;
  color: $cwhite;
}

.nav-link{
  color: $csecond;
}

.nav-link-color{
  color: $cwhite;
  text-decoration: none;
  padding: 8px;
}
.navbar-campanazzo .navbar-collapse {
  flex-grow: 0;
}

.navbar-campanazzo .navbar-brand img {
  width: 200px;
}
