.navbar-lewagon {
  justify-content: space-between;
  background: #077187;
  color: white;
}

.nav-link{
  color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  // styling
  background-color: white;
  border-top: 1px solid $cwhite;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 1rem 0 0 0;
}

.mobile-navbar{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  // styling
    * {
      color: $cblue;
      font-size: 1.75rem;
    }
    img {
      height: 2rem;
    }
}

#navbar-logo{
  position: relative;
  height: 4rem;
  bottom: 1.2rem;
}
