// product-card

.product-card{
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  // styling
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  h1{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1rem;
  }
  p{
    font-size: 0.8rem;
  }
}

  .product-header{
    display: flex;
    justify-content: space-evenly;
    // styling
    border-bottom: 1px solid $cwhite;
    padding-bottom: 0.8rem;

  }
    .product-img-div{
      padding-right: 1rem;
    }
    .product-header-content{
      flex-grow: 1;
      // styling
      padding-top: 0.2rem;
      h1{
        padding-bottom: 0.5em;
      }
    }

  .product-content{
    margin-top: .3rem;
  }
    .product-content-header{
      margin-bottom: .5rem;
      }

    .product-content-description{
      display: flex;
      justify-content: space-between;
      * {
        color: $cblue;
      }
    }
      .product-content-description-skills{

      }

      .product-content-description-prices{

      }

// profile-card
